{% extends 'base.html' %}
{% block content %}
<h1>REGISTER</h1>
<form action="" method="POST">
    {% csrf_token %}
    name<input type="text" name="name" id="name" placeholder="Name">
    <br>
    phone<input type="text" name="phone" id="phone" placeholder="Phone">
    <br>
    Email<input type="text" name="email" id="email" placeholder="Email">
    <br>
    Username<input type="text" name="uname" id="uname" placeholder="Username">
    <br>
    <input type="password" name="password" id="password">
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}
